﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>Today code is @Model.TodayCode</p>


@Html.ActionLink("Give me a new code 1-10", "About", "Home", new { button = "10" }, null)


@Html.ActionLink("Give me a new code 10-100", "About", "Home", new { button = "100" }, new { @class = "btn btn-primary btn-large" })

@Html.ActionLink("Give me a new code 100-1000", "About", "Home", new { button = "1000" }, new { @class = "btn btn-primary btn-large" })



