﻿@model IEnumerable<EmployeesHandling.DatabaseLayer.Employee>

@{
    
    WebGrid webGrid = new WebGrid(source: Model, canPage: true, canSort: false);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
            color: #ff6a00;
        }

        .Grid {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

            .Grid th {
                background-color: #F7F7F7;
                font-weight: bold;
            }

            .Grid th, .Grid td {
                padding: 5px;
                width: 150px;
                border: 1px solid #ccc;
            }

            .Grid, .Grid table td {
                border: 0px solid #ccc;
                background-color: darkseagreen;
                color:blue;
            }

                .Grid th a, .Grid th a:visited {
                    color: #333;
                }
    </style>
</head>
<body>
    @Html.ActionLink("Read", "Contact", "Home", new { button = "read" }, new { @class = "btn btn-primary btn-large" })

    @webGrid.GetHtml(htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
                    columns: webGrid.Columns(
                        webGrid.Column(header: "Employee Id", format: @<span class="label">@item.EmpId</span>, style: "EmpId"),
webGrid.Column(header: "First Name", format: @<span>
            <span class="label">@item.FirstName</span>
            <input class="text" type="text" value="@item.FirstName" style="display:none" />
        </span>, style: "FirstName"),
webGrid.Column(header: "Last Name", format: @<span>
                    <span class="label">@item.LastName</span>
                    <input class="text" type="text" value="@item.LastName" style="display:none" />
                </span>, style: "LastName"),
webGrid.Column(header: "Address", format: @<span>
                            <span class="label">@item.Address</span>
                            <input class="text" type="text" value="@item.Address" style="display:none" />
                        </span>, style: "Address"),
webGrid.Column(header: "City", format: @<span>
                                    <span class="label">@item.City</span>
                                    <input class="text" type="text" value="@item.City" style="display:none" />
                                </span>, style: "City"),
webGrid.Column(format:@<span class="link">
                                            <a class="Edit" href="javascript:;">Edit</a>
                                            <a class="Update" href="javascript:;" style="display:none">Update</a>
                                            <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>
                                        </span>                         )
                         ))

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript">
        //Edit event handler.
        $("body").on("click", "#WebGrid TBODY .Edit", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find(".text").length > 0) {
                    $(this).find(".text").show();
                    $(this).find(".label").hide();
                }
            });
            row.find(".Update").show();
            row.find(".Cancel").show();
            $(this).hide();
        });

        //Update event handler.
        $("body").on("click", "#WebGrid TBODY .Update", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find(".text").length > 0) {
                    var span = $(this).find(".label");
                    var input = $(this).find(".text");
                    span.html(input.val());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Cancel").hide();
            $(this).hide();

            var employee = {};
            employee.EmpId = row.find(".EmpId").find(".label").html();
            employee.FirstName = row.find(".FirstName").find(".label").html();
            employee.LastName = row.find(".LastName").find(".label").html();
            employee.Address = row.find(".Address").find(".label").html();
            employee.City = row.find(".City").find(".label").html();
            $.ajax({
                type: "POST",
                url: "/Home/UpdateEmployee",
                data: '{employee:' + JSON.stringify(employee) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
        });

        //Cancel event handler.
        $("body").on("click", "#WebGrid TBODY .Cancel", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find(".text").length > 0) {
                    var span = $(this).find(".label");
                    var input = $(this).find(".text");
                    input.val(span.html());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Update").hide();
            $(this).hide();
        });
    </script>
</body>
</html>