﻿@{
    ViewBag.Title = "Home Page (index.cshtml)";
}
<p><i>Index.cshtml from here : </i></p>
<br />
<h3>Employees</h3>

@Html.ActionLink("Read", "Index", "Home", new { button = "read" }, new { @class = "btn btn-primary btn-large" })
@Html.ActionLink("Update", "Index", "Home", new { button = "update" }, new { @class = "btn btn-primary btn-large" })
@Html.ActionLink("Insert", "Index", "Home", new { button = "insert" }, new { @class = "btn btn-primary btn-large" })

<table>
    <tr>
        <th class="col1">Employee ID</th>
        <th class="col2">First Name</th>
        <th class="col2">Last Name</th>
        <th class="col2">Address</th>
        <th class="col2">City</th>
    </tr>
    @foreach (var emp in @Model.ListEmployees)
    {
        <tr>
            <td>@emp.EmpId</td>
            <td>@emp.FirstName</td>
            <td>@emp.LastName</td>
            <td>@emp.Address</td>
            <td>@emp.City</td>
        </tr>
    }
</table>

<br />
<br />
<br />
<p><i>to here.</i></p>